// Common styles //

// images
.img {
  // width: 100%;
  vertical-align: top;
}

// flex
.flex {
  display: flex;
}
.flex-ac {
  align-items: center;
  justify-content: center;
}
.auto {
  flex: auto;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-one {
  flex: 1 0;
}
.flex-col {
  flex-flow: column;
}
.flex-no {
  display: block;
}
.flex-end {
  align-items: flex-end;
}

// margins
.no-m {
  margin-bottom: 0;
}
.no-m-t {
  margin-top: 0;
}

// size
.w-auto {
  width: auto;
}

// statement
.statement {
  font-weight: $fw-3;
  font-size: $fs-2;
  letter-spacing: 5px;
  color: $c-grey3;
  text-transform: uppercase;
  padding: 0 $space4;
}

// ads
.el--ad {
  margin: auto;
  max-width: 728px;
  display: block;
  border: solid 1px #e2e8ee;

  .img {
    width: 100%;
  }
}

// responsive
.mobile {
  display: none;
}

@media only screen and (max-width: $w-tab) {

  .el--ad {
    max-width: 300px;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: inline-block;
  }
}
