html, body {
  padding: 0;
  margin: 0;
}

.container {
  overflow: hidden;
}

.region,
.column,
.block,
.el {
  position: relative;
}

.region {
  padding: 80px 0;
}
.region.no-pad {
  padding: 0;
}
.region.no-b-pad {
  padding-bottom: 0;
}

.block {
  display: flex;
}
.block--center {
  margin: 0 auto;
  max-width: 1280px;
}

.column {
  flex: 1;
  padding: 0 10px;
}
.column.no-pad {
  padding: 0;
}

.el {
  margin-bottom: 20px;
}

@media only screen and (max-width: 1024px) {
  .block {
    display: block;
  }

  .region {
    padding: 40px 0;
  }
}
html, body {
  color: #555555;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

h1, h2, h3, h4, h5 {
  margin-top: 0;
  font-family: "Roboto Slab", sans-serif;
  line-height: 1;
}

h1 {
  color: #161719;
  font-size: 60px;
}

h2 {
  color: #161719;
  font-size: 48px;
  margin-bottom: 20px;
}
h2:after {
  content: "";
  height: 1px;
  width: 20px;
  background-color: #0b1c25;
  display: block;
  margin: 20px auto 0;
}
h2.no-border:after {
  display: none;
}
@media only screen and (max-width: 1024px) {
  h2 {
    font-size: 24px;
  }
}

h3 {
  color: #555555;
  font-size: 24px;
}

h4 {
  color: #555555;
  font-size: 18px;
}

h5 {
  color: #555555;
  font-size: 18px;
}

a {
  color: inherit;
  display: inline-block;
  text-underline-position: under;
  transition: color 0.2s ease-in-out;
}
a:hover {
  color: #555555;
  cursor: pointer;
}

p {
  color: #555555;
  font-weight: 100;
  line-height: 1.7;
}
p + h4 {
  margin-top: 40px;
}

ul {
  margin: 0;
  padding: 0;
  line-height: 2;
  padding-inline-start: 20px;
}

.ta-c {
  text-align: center;
}

.ta-r {
  text-align: right;
}

.fw-b {
  font-weight: bold;
}

.fs-0 {
  font-size: 14px;
}

.tw {
  color: #ffffff;
}

.tb {
  color: #0b1c25;
}

.ts-l {
  font-size: 60px;
}

@media only screen and (max-width: 1024px) {
  p {
    font-size: 18px;
  }
}
.img {
  vertical-align: top;
}

.flex {
  display: flex;
}

.flex-ac {
  align-items: center;
  justify-content: center;
}

.auto {
  flex: auto;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-one {
  flex: 1 0;
}

.flex-col {
  flex-flow: column;
}

.flex-no {
  display: block;
}

.flex-end {
  align-items: flex-end;
}

.no-m {
  margin-bottom: 0;
}

.no-m-t {
  margin-top: 0;
}

.w-auto {
  width: auto;
}

.statement {
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 5px;
  color: #777777;
  text-transform: uppercase;
  padding: 0 40px;
}

.el--ad {
  margin: auto;
  max-width: 728px;
  display: block;
  border: solid 1px #e2e8ee;
}
.el--ad .img {
  width: 100%;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .el--ad {
    max-width: 300px;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: inline-block;
  }
}
.el--divider {
  height: 1px;
  background-color: #cccccc;
  margin: 60px 0;
}

.module {
  padding: 60px;
  margin-bottom: 0;
}
@media only screen and (max-width: 1024px) {
  .module {
    padding: 20px;
  }
  .module.module--hs {
    padding: 60px;
  }
}
.module .el {
  margin-bottom: 0;
}

.trophy {
  position: relative;
}
.trophy:before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background-image: url("../images/icons/icon--trophy.svg");
  background-size: 100%;
  margin: 0 40px;
  opacity: 0.5;
  margin: 0 auto 20px;
}

.footer .el {
  margin-bottom: 0;
}

.el--social-links {
  display: flex;
  justify-content: flex-end;
}
@media only screen and (max-width: 1024px) {
  .el--social-links {
    justify-content: center;
  }
  .el--social-links .social__link:first-of-type {
    margin-left: 0;
  }
}

.copyright {
  margin: 0;
  color: #777777;
}
@media only screen and (max-width: 1024px) {
  .copyright {
    text-align: center;
    margin-bottom: 20px;
  }
}

.social__link {
  height: 30px;
  width: 30px;
  display: block;
  margin-left: 20px;
  background-image: url("../images/icons/icon--facebook.svg");
  background-size: 100%;
  background-position: center;
  opacity: 0.25;
  transition: opacity 0.2s ease-in-out;
}
.social__link:hover {
  opacity: 0.5;
}
.social__link.espn {
  background-image: url("../images/icons/icon--espn.svg");
}

.bg-grey {
  background-color: #eeeeee;
}

.bg-blue {
  background-color: #0b1c25;
}

.bg-black {
  background-color: #161719;
}

.bg-gradient {
  background-image: linear-gradient(#ffffff, #eeeeee);
}

.region--banner {
  padding: 0;
  background-color: #29a48e;
  background-image: url("../images/pattern.svg");
  background-size: 40%;
}
.region--banner .feature {
  justify-content: flex-end;
}
.region--banner .img {
  max-height: 500px;
}
.region--banner .column {
  padding: 0;
  width: 50%;
}
.region--banner .el {
  margin-bottom: 0;
  text-align: center;
}
.region--banner .el--text {
  justify-content: center;
  align-items: center;
  padding: 80px;
  box-sizing: border-box;
}
.region--banner .el--image {
  display: flex;
}
.region--banner .text {
  margin-bottom: 10px;
}
.region--banner .text--intro {
  font-size: 1.1vw;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #0b1c25;
}
.region--banner .text--intro.ts-l {
  font-size: 60px;
  line-height: 36px;
}
.region--banner .text--title {
  font-size: 3.5vw;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 3px 3px #0b1c25;
  text-align: center;
}
.region--banner .text--title:after {
  content: "";
  height: 1px;
  width: 20px;
  background-color: #0b1c25;
  display: block;
  margin: 10px auto;
}
.region--banner .text--title.no-border:after {
  background: transparent;
}
.region--banner .text--manager {
  color: #0b1c25;
  font-size: 1.2vw;
}
.region--banner .text--manager b {
  font-style: italic;
}
.region--banner .text--manager.ts-l {
  font-size: 60px;
}
.region--banner .text--stats {
  font-size: 16px;
  border-radius: 5px;
  padding: 20px;
  background: #0b1c25;
  width: fit-content;
  box-shadow: 5px 5px 0 0 #1c7465;
}
.region--banner .text--stats .stat {
  color: #ffffff;
  margin-right: 20px;
}
.region--banner .text--stats .stat:last-of-type {
  margin-right: 0;
}

.carousel {
  overflow: hidden;
  position: relative;
}
.carousel .banner {
  position: absolute;
  top: 0;
  left: 0;
}
.carousel .slick-dots {
  bottom: 10px;
}
.carousel.slick-dotted.slick-slider {
  margin-bottom: 0;
}
.carousel .slick-dots li {
  margin: 0 2px;
}
.carousel .slick-dots li button:before, .carousel .slick-dots li.slick-active button:before {
  color: #ffffff;
  font-size: 8px;
}

@media (max-width: 1024px) {
  .region--banner .feature-img {
    display: none;
  }
  .region--banner .column,
.region--banner .el--text {
    width: 100%;
  }
  .region--banner .el--text {
    padding: 40px;
  }
  .region--banner .text--intro,
.region--banner .text--manager {
    font-size: 16px;
  }
  .region--banner .text--title {
    font-size: 36px;
  }
  .region--banner .text--stats {
    display: none;
  }
}
.footer .module {
  padding: 0 60px;
}
.footer .region {
  padding: 40px 0;
}

.copyright {
  font-weight: 300;
}

.el--manager {
  width: 16.6666666%;
  margin: 0 0 2px 0;
  box-shadow: 0 0 0 2px #ffffff;
  perspective: 1000px;
  background-color: transparent;
}
.el--manager .inner-manager {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.el--manager:hover .inner-manager {
  transform: rotateY(180deg);
}
.el--manager:hover .portrait {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.el--manager:hover .info {
  opacity: 1;
}
.el--manager .portrait, .el--manager .info {
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}
.el--manager .info {
  padding: 10px;
  background-color: #0b1c25;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.3s linear;
}
.el--manager .name {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 10px;
}
.el--manager .description {
  font-weight: 100;
  color: #cccccc;
  font-style: italic;
}
.el--manager .team {
  min-height: 0;
  font-style: italic;
  color: #eeeeee;
  font-size: 16px;
  font-weight: 300;
}
.el--manager .img {
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  .el--manager {
    width: 25%;
  }
}
@media only screen and (max-width: 665px) {
  .el--manager {
    width: 33.33333%;
  }
}
.region--masthead {
  padding: 0;
  position: relative;
}
.region--masthead .el,
.region--masthead .header {
  margin: 0;
}
.region--masthead .header {
  color: #ffffff;
  font-size: 24px;
  text-transform: uppercase;
}
.region--masthead .header .link {
  text-decoration: none;
}
.region--masthead .header .link:hover {
  color: #ffffff;
  opacity: 0.8;
}

.nav {
  margin-left: auto;
}
.nav .nav__item {
  color: #ffffff;
  text-decoration: none;
  padding: 20px 0 20px 20px;
  overflow: hidden;
  vertical-align: bottom;
  opacity: 0.8;
  position: relative;
}
#champions .nav .nav__item.champions, #poopstacks .nav .nav__item.poopstacks, #history .nav .nav__item.history, #stats .nav .nav__item.stats, #cup .nav .nav__item.cup {
  opacity: 1;
}
#champions .nav .nav__item.champions:before, #poopstacks .nav .nav__item.poopstacks:before, #history .nav .nav__item.history:before, #stats .nav .nav__item.stats:before, #cup .nav .nav__item.cup:before {
  display: block;
}
.nav .nav__item:hover {
  opacity: 1;
}
.nav .nav__item:before {
  content: "";
  position: absolute;
  display: none;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #c8a030;
  left: 8px;
  top: calc(50% - 6px);
}

.region--masthead .column {
  padding: 0 40px;
}

@media (max-width: 768px) {
  .region--masthead .column {
    padding: 20px 0;
  }
  .region--masthead .column .menu__toggle {
    position: absolute;
    height: 64px;
    width: 64px;
    top: 0;
    right: 0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    padding: 0;
  }
  .region--masthead .column .menu__toggle:before, .region--masthead .column .menu__toggle:after {
    content: "";
    height: 8px;
    width: 24px;
    border-top: solid 2px #ffffff;
    border-bottom: solid 2px #ffffff;
    position: absolute;
  }
  .menu-open .region--masthead .column .menu__toggle:before, .menu-open .region--masthead .column .menu__toggle:after {
    height: 2px;
    border: none;
    background-color: #ffffff;
    transform: rotate(-45deg);
  }
  .region--masthead .column .menu__toggle:after {
    display: none;
  }
  .menu-open .region--masthead .column .menu__toggle:after {
    display: block;
    transform: rotate(-135deg);
  }

  .nav {
    z-index: 1;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #0b1c25;
    padding: 0 20px 20px 20px;
    display: none;
    flex-flow: column;
    width: 100%;
  }
  .menu-open .nav {
    display: flex;
  }
  .nav .nav__item {
    border-top: solid 1px #173a4c;
    text-align: center;
    padding: 10px 0;
  }
  .nav .nav__item:last-of-type {
    border-bottom: solid 1px #173a4c;
  }
}
.region--stats {
  font-size: 24px;
}
.region--stats .score {
  color: #0b1c25;
  font-weight: 600;
  padding-right: 5px;
}
.region--stats .score.mobile {
  padding-right: 10px;
}
.region--stats .gm {
  padding-left: 5px;
}
.region--stats .gm p {
  font-weight: 100;
}
.region--stats .list__item p:last-of-type {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .region--stats .list__item p {
    text-align: center;
  }
}
.el--plaque {
  border-radius: 2px;
  background-color: #ffffff;
  background-size: 100%;
  background-position: center;
  position: relative;
  border: solid 1px #777777;
  padding: 20px;
  text-align: center;
  color: #555555;
  border-radius: 10px;
  box-shadow: 5px 5px #777777;
}
.club--champion .el--plaque {
  color: #504012;
  border-color: #7e651b;
  background-color: #c8a030;
  box-shadow: 5px 5px #7e651b;
  max-width: 800px;
  margin: 20px auto;
}
.club--champion .el--plaque:before, .club--champion .el--plaque:after {
  content: "";
  position: absolute;
  background-image: url("../images/icons/icon--trophy.svg");
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  background-size: 100%;
  top: calc(50% - 30px);
  opacity: 0.5;
}
.club--champion .el--plaque:before {
  left: 10%;
}
.club--champion .el--plaque:after {
  right: 10%;
}
.club--champion .el--plaque .name {
  font-size: 22px;
}
#poopstacks .club--champion .el--plaque {
  color: #ffffff;
  background-color: #704023;
  box-shadow: 5px 5px #4e2b15;
  border-color: #4e2b15;
}
#poopstacks .club--champion .el--plaque:before, #poopstacks .club--champion .el--plaque:after {
  opacity: 0.3;
  height: 50px;
  top: calc(50% - 25px);
  background-image: url("../images/poop.svg");
}
#cup .club--champion .el--plaque:before, #cup .club--champion .el--plaque:after {
  display: none;
}
#cup .club--champion .el--plaque .name {
  white-space: normal;
}
#cup .club--champion .el--plaque .manager {
  display: none;
}
.club--past .el--plaque {
  width: 100%;
  max-width: calc(33% - 50px);
}
@media only screen and (max-width: 1024px) {
  .club--past .el--plaque {
    max-width: 100%;
  }
}
.club--past .el--plaque.spacer {
  border: none;
  background: transparent;
  box-shadow: none;
}
.el--plaque .year {
  font-weight: 300;
  font-size: 18px;
}
.el--plaque .name {
  font-size: 20px;
  font-family: "Roboto Slab", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.el--plaque .manager {
  font-size: 18px;
  font-weight: 300;
}

.club--past {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .club--champion .el--plaque:before, .club--champion .el--plaque:after {
    display: none;
  }

  .club--past .el--plaque.spacer {
    display: none;
  }
}
.stat_module.manager {
  padding: 20px 0;
  border-bottom: solid 1px #cccccc;
}
.stat_module.manager .figure {
  margin-right: 20px;
  max-width: 200px;
  max-height: 200px;
  overflow: hidden;
  border-radius: 5px;
}
.stat_module.manager .figure .img {
  width: 100%;
}
.stat_module.manager .content {
  width: 100%;
}
.stat_module.manager .content .header {
  padding: 0 10px;
}
.stat_module.manager .content .header .icon {
  display: none;
}
.stat_module.manager .content .header .late {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #555555;
  font-weight: 400;
}
.stat_module.manager .stat__list {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}
.stat_module.manager .stat__list .item {
  width: 33.33333%;
  font-size: 16px;
  box-sizing: border-box;
  padding: 0 20px 0 0;
  margin-bottom: 20px;
  border-left: solid 5px #ffffff;
}
.stat_module.manager .stat__list .item.best {
  border-color: #7cd6c7;
}
.stat_module.manager .stat__list .item.worst {
  border-color: #f59f9e;
}
.stat_module.manager .stat__list .item .stat,
.stat_module.manager .stat__list .item .label {
  padding: 0 10px;
  border-radius: 5px;
}
.stat_module.manager .stat__list .item .stat {
  font-size: 24px;
  color: #0b1c25;
  font-family: "Roboto Slab", sans-serif;
  display: inline-block;
}
.stat_module.manager .rivals {
  padding: 20px;
  background-color: #eeeeee;
  border: solid 1px #cccccc;
  border-radius: 5px;
  min-width: 200px;
  box-sizing: border-box;
  text-align: center;
}
.stat_module.manager .rivals .title {
  font-family: "Roboto Slab", sans-serif;
  font-size: 18px;
  color: #be0808;
  margin-bottom: 20px;
}
.stat_module.manager .rivals .item--rival {
  font-size: 16px;
  margin-bottom: 10px;
}

@media (max-width: 1024px) {
  .stat_module.manager .figure {
    display: none;
  }
}
@media (max-width: 665px) {
  .stat_module.manager .manager__stats {
    flex-flow: column;
  }
  .stat_module.manager .rivals {
    display: flex;
    align-items: baseline;
    margin-right: 20px;
  }
  .stat_module.manager .rivals .list {
    display: flex;
  }
  .stat_module.manager .rivals .title,
.stat_module.manager .rivals .item--rival {
    margin-bottom: 0;
    margin-right: 20px;
  }
  .stat_module.manager .content .header {
    display: flex;
    align-items: baseline;
  }
  .stat_module.manager .content .header .late {
    margin-left: 10px;
  }
  .stat_module.manager .content .header .icon {
    display: flex;
    margin-left: auto;
    background-image: url("../images/icons/icon--angle.svg");
    height: 24px;
    width: 24px;
    background-size: 100%;
    opacity: 0.75;
    transform: rotate(180deg);
  }
  .stat_module.manager.collapsed .content .header {
    margin-bottom: 0;
  }
  .stat_module.manager.collapsed .content .header .icon {
    transform: rotate(0deg);
  }
  .stat_module.manager.collapsed .manager__stats {
    display: none;
  }
}
@media (max-width: 480px) {
  .stat_module.manager .stat__list .item {
    width: 50%;
  }
}
.item--accordion {
  background-color: #ffffff;
  border-radius: 10px;
  border: solid 1px #777777;
  box-shadow: 5px 5px #777777;
  margin-bottom: 20px;
}
.item--accordion .header--accordion {
  color: #0b1c25;
  margin-bottom: 0;
  align-items: center;
}
.item--accordion .content {
  display: none;
  border-top: solid 1px #cccccc;
  padding: 20px 0;
  margin: 0 20px;
}
.item--accordion .content .text {
  margin: 0;
  font-size: 18px;
}
.item--accordion .content .description {
  margin-bottom: 20px;
}
.item--accordion .btn {
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 20px;
  border-radius: 10px;
}
.item--accordion .btn:hover {
  cursor: pointer;
}
.item--accordion .btn:hover .icon .svg {
  fill: #29a48e;
}
.item--accordion .btn.expanded .icon {
  transform: rotate(180deg);
}
.item--accordion .btn.expanded .icon .svg {
  fill: #29a48e;
}
.item--accordion .btn .icon {
  height: 30px;
  width: 30px;
  margin-left: auto;
}
.item--accordion .btn .icon .svg {
  width: 100%;
  height: 100%;
  fill: #777777;
}
.item--accordion .highlights {
  margin-bottom: 20px;
}
.item--accordion .highlights .text {
  margin: 0 20px 20px 0;
  color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  background: #0b1c25;
  width: fit-content;
  box-shadow: 5px 5px 0 0 #777777;
}

@media only screen and (max-width: 665px) {
  .item--accordion .highlights {
    flex-flow: column;
  }
}
